@container-max-width: 1440px;
@container-min-width: 360px;
@container-normal-width: 90%;
@container-opacity: 0.95;
@normal-radius: 4px;
@normal-padding: 8px;
@pad-max-width: 992px;
@mobile-max-width: 728px;
.wrapper-base {
  max-width: @container-max-width;
  min-width: @container-min-width;
  width: @container-normal-width;
}
.singal-line-overflow-ellipsis {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@media screen and (max-width: 992px) {
  .follow {
    display: none;
  }
  .navigate {
    width: 200px;
  }
  body #app div.wrapper {
    width: 95%;
  }
  // div.container div.main {
  //   margin-right: 8px!important;
  // }
}
@media screen and (max-width: @mobile-max-width) {
  .navigate {
    display: none;
  }
  // div.container div.main {
  //   margin: 0 0;
  // }
  // div.container {
  //   width: 100% !important;
  // }
}

#app {
  // .container {
  //   .container-base();
  // }
  .navigate {
    position: sticky;
    top: 55px;
  }
  .follow {
    position: sticky;
    top: 55px;
  }
  p::selection {
    // background-color: transparent;
    background-color: rgb(231, 238, 251);
    color: #0c7ed9;
  }
  p::-moz-selection {
    background-color: rgb(231, 238, 251);
    color: #0c7ed9;
  }
  p::-webkit-selection {
    background-color: rgb(231, 238, 251);
    color: #0c7ed9;
  }
}
